*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}

@font-face {
    font-family: 'Sofia';
    src: url('fonts/Sofia/sofia-regular-webfont.eot');
    src: url('fonts/Sofia/sofia-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Sofia/sofia-regular-webfont.woff') format('woff'),
         url('fonts/Sofia/sofia-regular-webfont.ttf') format('truetype'),
         url('fonts/Sofia/sofia-regular-webfont.svg#sofiaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
html, body {
    height: auto;
    position: relative;
}
.title{
    background-image: url('pictures/bg-01.jpg');
    background-size: contain;
    height: 350px;
    box-shadow: 0 0 20px black;
    position: relative;
    width: 100%;
}
.title-text{
    font: 54px/54px 'Sofia', Arial, sans-serif;
    color: white;
    text-shadow: 0 0 4px black;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;
}
.subtitle{
    font-size: 32px;
    color: #505050;
    padding-top: 32px;
    font-weight: bold;
    line-height: 1.5em;
    text-align: center;
    text-transform: uppercase;
}
.text{
    font-size: 20px;
    font-family: 'Bitter', serif;
    color: #000;
    width: 80%;
    letter-spacing: 1.1px;
    line-height: 1.3em;
    text-align: justify;
    display: flex;
    padding-top: 32px;
    padding: 18px;
    margin: 0 auto;
    border-radius: 4px;
}

.transition-timer-carousel .carousel-caption {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 4%, rgba(0,0,0,0.5) 32%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(4%,rgba(0,0,0,0.1)), color-stop(32%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* W3C */
	width: 100%;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-align: left;
	padding-top: 5px;
	padding-left: 15%;
	padding-right: 15%;
}
.carousel-inner{
    position: relative;
    overflow: hidden;    
    width: 80%;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 0 4px black;
}
.carousel{
    margin-top:48px
}
.item{
    max-height: 480px;
}
.transition-timer-carousel .carousel-caption .carousel-caption-header {
    margin-top: 10px;
	font-size: 24px;
}
@media (min-width: 970px) {
    /* Lower the font size of the carousel caption header so that our caption
    doesn't take up the full image/slide on smaller screens */
	.transition-timer-carousel .carousel-caption .carousel-caption-header {
		font-size: 36px;
	}
}
.transition-timer-carousel .carousel-indicators {
    margin-top: 48px;
	bottom: 0px;
	margin-bottom: 5px;
}
.transition-timer-carousel .carousel-control {
    z-index: 11;
    display: none;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar {
    height: 5px;
    background-color: #5cb85c;
    width: 0%;
    margin: -5px 0px 0px 0px;
    border: none;
    z-index: 11;
    position: relative;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar.animate{
    /* We make the transition time shorter to avoid the slide transitioning
    before the timer bar is "full" - change the 4.25s here to fit your
    carousel's transition time */
    -webkit-transition: width 4.25s linear;
	-moz-transition: width 4.25s linear;
	-o-transition: width 4.25s linear;
	transition: width 4.25s linear;
}

.bg-sheets{
    position: absolute;
    width: 100%;
    z-index: -99;
    height: 100%;
    overflow: hidden;
}
.bg-sheet{
    position: absolute;
    top: -20%;
}
.bg-sheet:nth-child(1){
    width: 60px;
    transform: rotate(127deg);
    left: 4%;
    filter: blur(3px);
    animation: animate 30s linear infinite;
    animation-delay: -4s;
}


.bg-sheet:nth-child(2){
    width: 80px;
    left: 14%;
    transform: rotate(70deg);
    filter: blur(1.5px);
    animation: animate 25s linear infinite;
    animation-delay: 4s
}

.bg-sheet:nth-child(3){
    width: 55px;
    left: 18%;
    filter: blur(5px);
    animation: animate 31s linear infinite;
    animation-delay: -6s
}
.bg-sheet:nth-child(4){
    width: 85px;
    left: 27%;
    filter: blur(1.5px);
    transform: rotate(208deg);
    animation: animate 22s linear infinite;
    animation-delay: -8s
}
.bg-sheet:nth-child(5){
    width: 75px;
    left: 32%;
    filter: blur(2px);
    transform: rotate(208deg);
    animation: animate 25s linear infinite;
    animation-delay: 6s
}
.bg-sheet:nth-child(6){
    width: 70px;
    left: 38%;
    filter: blur(2.1px);
    transform: rotate(208deg);
    animation: animate 28s linear infinite;
    animation-delay: 1s
}
.bg-sheet:nth-child(7){
    width: 85px;
    left: 43%;
    filter: blur(1.5px);
    transform: rotate(208deg);
    animation: animate 24s linear infinite;
    animation-delay: -1s
}
.bg-sheet:nth-child(8){
    width: 45px;
    left: 50%;
    filter: blur(6px);
    transform: rotate(208deg);
    animation: animate 35s linear infinite;
    animation-delay: 1s
}


.bg-sheet:nth-child(9){
    width: 49px;
    left: 58%;
    filter: blur(6px);
    transform: rotate(208deg);
    animation: animate 33s linear infinite;
    animation-delay: 10s
}
.bg-sheet:nth-child(10){
    width: 57px;
    left: 63%;
    filter: blur(5px);
    transform: rotate(208deg);
    animation: animate 30s linear infinite;
    animation-delay: 8s
}
.bg-sheet:nth-child(11){
    width: 67px;
    left: 71%;
    filter: blur(4px);
    transform: rotate(208deg);
    animation: animate 29s linear infinite;
    animation-delay: 12s
}
.bg-sheet:nth-child(12){
    width: 80px;
    left: 77%;
    filter: blur(2px);
    transform: rotate(208deg);
    animation: animate 26s linear infinite;
    animation-delay: 16s
}
.bg-sheet:nth-child(13){
    width: 60px;
    left: 80%;
    filter: blur(3px);
    transform: rotate(208deg);
    animation: animate 31s linear infinite;
    animation-delay: 6s
}
.bg-sheet:nth-child(14){
    width: 70px;
    left: 35%;
    filter: blur(2px);
    transform: rotate(208deg);
    animation: animate 30s linear infinite;
    animation-delay: 7s
}

.bg-sheet:nth-child(15){
    width: 45px;
    left: 10%;
    filter: blur(4px);
    transform: rotate(208deg);
    animation: animate 34s linear infinite;
    animation-delay: 14s
}
.bg-sheet:nth-child(16){
    width: 68px;
    left: 92%;
    filter: blur(2px);
    transform: rotate(208deg);
    animation: animate 30s linear infinite;
    animation-delay: 14s
}
.bg-sheet:nth-child(17){
    width: 77px;
    left: 98%;
    filter: blur(1.1px);
    transform: rotate(208deg);
    animation: animate 26s linear infinite;
    animation-delay: 14s
}
.bg-sheet:nth-child(18){
    width: 87px;
    left: 13%;
    filter: blur(1px);
    transform: rotate(208deg);
    animation: animate 24s linear infinite;
    animation-delay: 14s
}
.bg-sheet:nth-child(19){
    width: 75px;
    left: 41%;
    filter: blur(1.5px);
    transform: rotate(208deg);
    animation: animate 28s linear infinite;
    animation-delay: -15s
}
.bg-sheet:nth-child(20){
    width: 65px;
    left: 91%;
    filter: blur(3px);
    transform: rotate(208deg);
    animation: animate 29s linear infinite;
    animation-delay: 2s
}
.bg-sheet:nth-child(21){
    width: 82px;
    left: 90%;
    filter: blur(2px);
    transform: rotate(208deg);
    animation: animate 25s linear infinite;
    animation-delay: -5s
}

@keyframes animate{
    0%{
        top: -10%;
    }
    10%{
        top: 8%;
        transform: translateX(20px) rotate(45deg);

    }
    20%{
        top: 18%;
        transform: translateX(-20px) rotate(100deg);

    }
    30%{
        top: 31%;
        transform: translateX(20px) rotate(60deg);

    }
    40%{
        top: 39%;
        transform: translateX(-20px) rotate(115deg);

    }
    50%{
        top: 52%;
        transform: translateX(20px) rotate(65deg);

    }
    60%{
        top: 62%;
        transform: translateX(20px) rotate(110deg);

    }
    70%{
        top: 73%;
        transform: translateX(-20px) rotate(70deg);

    }
    80%{
        top: 84%;
        transform: translateX(20px) rotate(150deg);

    }
    90%{
        top: 92%;
        transform: translateX(-20px) rotate(100deg);

    }
    100%{
        top: 125%;
        transform: translateX(20px) rotate(150deg);

    }

}

footer{
    position: relative;
    font-size: 18px;
    margin-top:18px;
    background-color: #3d4045;
    color: #afafaf;
    letter-spacing: 1.1px;
}
.contacts{
    justify-content: space-around;
    display: flex;
}
.phone{
    font: 24px/24px 'Sofia', Arial, sans-serif;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 24px;
    text-shadow: 0px 0px 20px white;
}
.phone-1{
    display: flex;
}
.phone-2{
    display: none;
}
ul{
    display: flex;
}
ul li{
    display: inline;
    margin: 16px 16px 0 16px;
}
.contacts img{
    width: 48px;
    filter: grayscale(0.2);
    
    box-shadow: 0 0 10px #ffffff40;
    border-radius: 48px;
}

@media (max-width:640px){
    .title{
        background-image: url('pictures/bg-01.jpg');
        background-size: cover;
        height: 350px;
        
    }
    .phone-1{
        display: none;
    }
    .phone-2{
        display: flex;
        width: 204px;
    }
    .title-text{
        font: 54px/54px 'Sofia', Arial, sans-serif;
        color: white;
        text-shadow: 0 0 4px black;
        margin: 0 auto;
        padding-top: 100px;
        text-align: center;
    }
    .bg-sheet:nth-child(2n+1){
        display: none;
    }
    .text{
        font-size: 18px;
        font-family: 'Bitter', serif;
        color: #000;
        width: 90%;
        letter-spacing: 1.1px;
        line-height: 1.3em;
        text-align: justify;
        display: flex;
        padding-top: 32px;
        margin: 0 auto;
        border-radius: 4px;
    }
    

}